.space-background {
  background-image: url("../../assets/space_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.space-background-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (last value) as desired */
}

.approach-figure {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}